<h1>Sign in</h1>

<%= form_with url: sign_in_path do |f| %>
 <div class="mb-3" >
    <%= f.label :email%>
        <%= f.text_field :email, class: "form-control", placeholder: "vitu@gorails.com" %>
    </div>    
    <div class="mb-3" >
        <%= f.label :password%>
        <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3" >
        <%= f.submit "Sign in", class: "btn btn-primary"  %>
    </div>
<% end %>